body {
  background-color: rgb(157, 175, 164);
  color: rgb(59, 59, 59);
  font-family: "Plus Jakarta Sans", serif;
  font-size: 15px;
  line-height: 1.5rem;
  padding: 20px;
}

.profile-picture-circle {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin-top: -50px; /* Moves profile picture up to overlap the video */
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.search {
  width: 250px;
  margin: auto;
}

.search button {
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding: 10px;
  color: #d6d6d6;
  background-color: black;
  border-radius: 20px;
  margin: 15px;
}

.search button:hover {
  transition-duration: 0.5s;
  background-color: darkslategray;
  color: white;
  font-size: 17px;
}
.search p {
  font-weight: 700;
  font-size: 14px;
  color: rgb(68, 110, 68);
}

.search input {
  color: gray;
  width: 250px;
  margin: 0 5px 0 15px;
  border-color: none;
}

.card {
  margin: 25px 0;
  width: 50%;
  margin: 20px auto;
  border-radius: 25px;
  border-color: none;
  box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.1);
}

.card-white {
  padding: 30px;
  border: none;
  background: white;
  position: relative;
}

.video-header {
  width: 100%;
  height: 180px; /* Adjust this height as needed */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  position: relative;
}

/* Make the video exactly match the `.video-header` */
.video-header video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures full coverage without stretching */
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-size: 25px;
  line-height: 30px;
}

h2 {
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-size: 17px;
  line-height: 22px;
}

a {
  font-family: "Noto Sans", serif;
  text-decoration: none;
  color: rgb(68, 110, 68);
}
li {
  list-style: none;
}

.follow-btn {
  font-size: 50px;
  margin: 5px;
}

/* Responsive Design */
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  .video-header {
    height: 120px; /* Smaller height for smaller screens */
  }
}
